.main.addCards {
  justify-content: flex-start;

  .page-heading {
    margin-top: 20px;
  }

  .active-card {
    margin-bottom: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;

    label {
      font-size: 12px;
      margin-bottom: 5px;
    }

    input {
      margin-bottom: 5px;
    }

    .account-info {
      width: 90%;
    }

    .expiryCVC-container {
      width: 300px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .expiry-cvc {
        width: 45%;
      }
    }

    select {
      margin-bottom: 10px;
    }
  }
}
