* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: cornflowerblue;
}

.hidden {
  display: none;
}

.App {
  min-width: 350px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: cornflowerblue;

  .app-heading {
    margin: 10px 0;
    color: midnightblue;
    background-color: cornflowerblue;
  }

  .main {
    border: 2px solid black;
    background-color: ivory;
    border-radius: 5px;
    width: 500px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .section-heading,
    .page-heading {
      margin: 10px 0;
      text-align: center;
    }

    .section-heading.error {
      margin-bottom: 20px;
      width: 300px;
    }

    .error-heading {
      margin-top: 10px;
    }
  }
  .btn-styling {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 600;
  }
}
