* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.App {
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .app-heading {
    margin: 10px 0;
  }

  .main {
    border: 2px solid black;
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .page-heading {
      margin-bottom: 10px;
    }
  }
}
